charset="UTF-8"

p {
    background-color: blue;
    color: #ffffff;
    font-size: 24px;
    width: 350px;
}

button {
    background-color: orange;
}

table {
    border: 1px solid gray;
}

td {
    border: 1px solid gray;
}
/**
 * レイアウト用ボックスを囲む
 */
.container {
    width: 960px;       /* サイトの基本となる横幅 */
    margin-right: auto; /* 右側の余白を自動で調整 */
    margin-left: auto;  /* 左側の余白を自動で調整 */
}

/* ボックスの構造を分かりやすくするため */
.layout {
    background-color: #dedede;
    padding: 10px;
    border: 1px solid #949494;
    margin-bottom: 10px;
}

/* メインコンテンツ */
.main {
    float: left;
    width: 630px;
}
/* サイドバー */
.sidebar {
    float: right;
    width: 250px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/*ヘッダー*/
header h1 {
    font-size: 24px;
    font-weight: bold;
}
.company-info {
    float: left;
    width: 70%;
}
.contact-info {
    float: left;
    width: 30%;
    text-align: right;
}
header p span {
    font-size: 20px;
    font-weight: bold;
}
/*ナビゲーション*/
nav ul li {
    float: left;
    width: 20%;
    text-align: center;
}
nav {
    border-top: 5px solid #8b4513;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

a {
    padding: 20px;
}

nav ul li a:hover {
    color: #fff;
    background-color: #ffd700;
}
nav ul li a {
    display: block;
}
/* --------------------------
 * メイン画像
 * --------------------------
 */
.main-img {
    margin-top: 30px;
    margin-bottom: 40px;
}
